name: Pull Request
on: pull_request

env:
  SLN_FILE: Fabulous.Avalonia.NoSamples.sln
  CONFIG: Release

jobs:
  pull_request:
    runs-on: macos-13
    steps:
    - name: Checkout sources
      uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x
    - name: Check code formatting
      run: |
        dotnet tool restore
        dotnet fantomas --check src samples templates packages
    - name: Install dotnet workload
      run: dotnet workload restore
    - name: Restore
      run: dotnet restore ${SLN_FILE}
    - name: Build
      run: dotnet build ${SLN_FILE} -c ${CONFIG} --no-restore
    - name: Test
      run: dotnet test ${SLN_FILE} -c ${CONFIG} --no-build